<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>Inicio Usuario</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
    </head>
    <body>
        <div wicket:id="bodyMarkup">
            <span wicket:id="header"/>
            <div class="container row">
                <div class="col"><button wicket:id="btnTraM" type="button" class="btn btn-primary space-bottom">Transferir para a mesma conta</button></div>
                <div class="col"><button wicket:id="btnDep" type="button" class="btn btn-primary space-bottom">Depositar</button></div>
                <div class="w-100"></div>
                <div class="col"><button wicket:id="btnTraD" type="button" class="btn btn-primary">Transferir para contas diferentes</button></div>
                <div class="col"><button wicket:id="btnSqr" type="button" class="btn btn-primary">Sacar</button></div>
            </div>
        </div>
    </body>
</html>