<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <title>Delete</title>
    </head>
    <body>
        <wicket:panel>
            <div wicket:id="bodyMarkup">
                <label wicket:id="funcLabel"/>
                <button wicket:id="excluir" class="btn btn-success"><label wicket:id="label"/></button>
            </div>
        </wicket:panel>
    </body>
</html>
